.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  position: relative;
  width: 100%;
  height: 100%;

  .windows {
    flex-grow: 1;
  }

  .taskbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    align-items: center;
    border-radius: var(--radius-md);
  }
}
