@use "@gilak/stylist/scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  width: 100%;
  height: 100%;
  padding: var(--spacing-sm);
  overflow: auto;
  @include scrollbar;

  .windows {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .taskbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    align-items: center;
    border-radius: var(--radius-md);
  }
}
