@use "@gilak/stylist/scss" as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  @include scrollbar;

  .windows {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .taskbar {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    align-items: center;
    gap: var(--spacing-sm);
    padding: var(--spacing-sm);
  }
}
