.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--info-bg, var(--color-primary-md));
  color: var(--info-color, var(--color-light-xxxl));
  border-radius: 50%;
  width: var(--icon-md);
  height: var(--icon-md);
  font-size: var(--font-size-md);
  box-shadow: var(--shadow-sm);
  font-weight: var(--font-weight-md);
  user-select: none;

  .inner {
    display: inline-block;
    line-height: 1;
  }
}
