@use "@gilak/stylist/scss" as *;

.tooltip {
  padding: var(--spacing-xxxs) var(--spacing-xxs);
  @include solidVariants;
  @include fontSize;

  * {
    font-size: unset;
    @include fontSize;
  }

  &.primary {
    :global(.tippy-arrow) {
      color: var(--color-primary-md);
    }
  }

  &.secondary {
    :global(.tippy-arrow) {
      color: var(--color-secondary-md);
    }
  }

  &.light {
    :global(.tippy-arrow) {
      color: var(--color-light-md);
    }
  }

  &.dark {
    :global(.tippy-arrow) {
      color: var(--color-dark-xxl);
    }
  }

  &.light-ghost {
    :global(.tippy-arrow) {
      color: transparent;
    }
  }

  &.dark-ghost {
    :global(.tippy-arrow) {
      color: transparent;
    }
  }
}
