@use "@gilak/stylist/scss" as *;

.root {
  position: relative;
  display: inline-grid;

  .tip {
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    z-index: 999;
    transform: translateY(4px);
    transition:
      opacity var(--transition-sm),
      transform var(--transition-sm);
    pointer-events: none;
    touch-action: none;

    &.top {
      bottom: 100%;
      left: 50%;
      transform-origin: center bottom;
      transform: translate(-50%, 6px);
    }

    &.bottom {
      top: 100%;
      left: 50%;
      transform-origin: center top;
      transform: translate(-50%, -6px);
    }

    &.left {
      right: 100%;
      top: 50%;
      transform-origin: right center;
      transform: translate(6px, -50%);
    }

    &.right {
      left: 100%;
      top: 50%;
      transform-origin: left center;
      transform: translate(-6px, -50%);
    }

    &.show {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      touch-action: auto;

      &.top {
        transform: translate(-50%, 0);
      }

      &.bottom {
        transform: translate(-50%, 0);
      }

      &.left {
        transform: translate(0, -50%);
      }

      &.right {
        transform: translate(0, -50%);
      }
    }
  }
}
