// Primitive color values (base colors only)
$color-primitives: (
  primary: #00897b,
  secondary: #fb8c00,
  accent: #d81b60,
  light: #fefefe,
  dark: #636363,
  success: #22c55e,
  warning: #f59e0b,
  error: #ef4444,
  info: #3b82f6,
);

$color-primitives-dark: (
  primary: #0d1164,
  secondary: #640d5f,
  accent: #ea2264,
  light: #ebebeb,
  dark: #212121,
  success: #22c55e,
  warning: #f59e0b,
  error: #ef4444,
  info: #3b82f6,
);
