// Primitive color values (base colors only)
$color-primitives: (
  primary: #00897b,
  secondary: #fb8c00,
  accent: #d81b60,
  light: #fefefe,
  dark: #969696,
  success: #22c55e,
  warning: #f59e0b,
  error: #ef4444,
  info: #3b82f6,
);

$color-primitives-dark: (
  primary: #bf092f,
  secondary: #16476a,
  accent: #3b9797,
  light: #dedede,
  dark: #313131,
  success: #22c55e,
  warning: #f59e0b,
  error: #ef4444,
  info: #3b82f6,
);
