.window {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  will-change: transform;

  &.dragging {
    box-shadow: var(--shadow-lg);
  }

  &.resizing {
    box-shadow: var(--shadow-lg);
  }

  &.maximized {
    min-width: 100%;
    min-height: 100%;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    transform: none !important;
  }

  &.minimized {
    display: none;
  }

  .resize {
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
    touch-action: none;

    .icon {
      cursor: nwse-resize;
    }
  }
}
