@use "@gilak/stylist/mixins" as mixins;

.window {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-md);
  background-color: var(--color-light-lg);
  box-shadow: var(--shadow-md);
  overflow: hidden;
  will-change: transform;

  &.dragging {
    box-shadow: var(--shadow-md);
  }

  &.resizing {
    box-shadow: var(--shadow-md);
  }

  .toolbar {
    grid-area: toolbar;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xs);
    padding: 0 var(--spacing-xs);

    .button {
      cursor: pointer;

      &:hover {
        background-color: var(--color-light-sm);
      }
    }
  }

  .body {
    flex-grow: 1;
    grid-area: body;
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--color-dark-sm);
    background-color: var(--color-light-xxxs);

    overflow: auto;
    @include mixins.scrollbar();
  }

  .footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    height: var(--icon-lg);

    .content {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: var(--color-dark-sm);
      font-size: var(--font-size-sm);
      padding: 0 var(--spacing-md);
    }

    .resize-handle {
      display: flex;
      flex-direction: column-reverse;
      margin-left: auto;
      cursor: nwse-resize;
      touch-action: none;
    }
  }

  &.maximized {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: none !important;
  }
}
