@use "@gilak/stylist/mixins" as mixins;

.window {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-areas:
    "header toolbar"
    "body body";
  grid-template-rows: var(--icon-lg) 1fr;
  grid-template-columns: minmax(0, 1fr) auto;
  border-radius: var(--radius-md);
  border: 1px solid var(--color-light-md);
  background-color: var(--color-light-xxs);
  box-shadow: var(--shadow-sm);
  overflow: hidden;
  will-change: transform;

  &.draggable {
    .header {
      cursor: move;
      cursor: grab;
      user-select: none;
    }
  }

  &.dragging {
    .header {
      cursor: grabbing;
    }

    box-shadow: var(--shadow-md);
  }
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-md);
  padding: var(--spacing-sm) var(--spacing-md);

  .title {
    display: block;
    color: var(--color-dark-md);
    @include mixins.ellipsis();
  }
}

.toolbar {
  grid-area: toolbar;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-xs);
}

.body {
  grid-area: body;
  border-top: 1px solid var(--color-light-lg);
  padding: var(--spacing-sm) var(--spacing-md);
  color: var(--color-dark-sm);
  overflow: auto;
  @include mixins.scrollbar();
}
