.window {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  overflow: hidden;
  will-change: transform;

  &.dragging {
    box-shadow: var(--shadow-lg);
  }

  &.resizing {
    box-shadow: var(--shadow-lg);
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xs);
    padding: 0 var(--spacing-xs);

    .button {
      cursor: pointer;

      &:hover {
        background-color: var(--color-light-sm);
      }
    }
  }

  &.maximized {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: none !important;
  }

  &.minimized {
    display: none;
  }

  .resize {
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
    touch-action: none;

    .icon {
      cursor: nwse-resize;
    }
  }
}
