@use "@gilak/stylist/mixins" as mixins;

.window {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-md);
  background-color: var(--color-light-lg);
  box-shadow: var(--shadow-md);
  overflow: hidden;
  will-change: transform;

  &.dragging {
    box-shadow: var(--shadow-lg);
  }

  &.resizing {
    box-shadow: var(--shadow-lg);
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xs);
    padding: 0 var(--spacing-xs);

    .button {
      cursor: pointer;

      &:hover {
        background-color: var(--color-light-sm);
      }
    }
  }

  .body {
    flex-grow: 1;
    padding: var(--spacing-sm);
    color: var(--color-dark-sm);
    background-color: var(--color-light-xxxs);
    overflow: auto;
    @include mixins.scrollbar();
  }

  &.maximized {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: none !important;
  }

  &.minimized {
    display: none;
  }
}
