@use "@gilak/stylist/mixins" as mixins;

.window {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-areas:
    "header toolbar"
    "body body"
    "footer footer";
  grid-template-rows: var(--icon-lg) 1fr;
  grid-template-columns: minmax(0, 1fr) auto;
  border-radius: var(--radius-md);
  background-color: var(--color-light-xxs);
  box-shadow: var(--shadow-sm);
  overflow: hidden;
  will-change: transform;

  &.draggable {
    .header {
      cursor: move;
      cursor: grab;
      user-select: none;
    }
  }

  &.dragging {
    .header {
      cursor: grabbing;
    }

    box-shadow: var(--shadow-md);
  }

  &.resizing {
    box-shadow: var(--shadow-md);
  }

  .header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-md);
    padding: var(--spacing-sm) var(--spacing-md);
    background-color: var(--color-light-lg);

    .title {
      display: block;
      color: var(--color-dark-md);
      @include mixins.ellipsis();
    }
  }

  .toolbar {
    grid-area: toolbar;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xs);
  }

  .body {
    grid-area: body;
    padding: var(--spacing-sm) var(--spacing-md);
    color: var(--color-dark-sm);
    overflow: auto;
    @include mixins.scrollbar();
  }

  .footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;

    .content {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: var(--color-dark-sm);
      font-size: var(--font-size-sm);
      padding: 0 var(--spacing-md);
    }

    .resize-handle {
      display: inline-flex;
      margin-left: auto;
      cursor: nwse-resize;
      /* bigger hit target and prevent touch gestures from interfering */
      padding: var(--spacing-xs);
      touch-action: none;
    }
  }
}
