// Border radius tokens
$radius: (
  none: 0,
  xxs: 0.125rem,
  // 2px
  xs: 0.25rem,
  // 4px
  sm: 0.375rem,
  // 6px
  md: 0.5rem,
  // 8px
  lg: 0.75rem,
  // 12px
  xl: 1rem,
  // 16px
  xxl: 1.5rem,
  // 24px
  full: 9999px,
);
