$shadow: (
  none: none,
  xxs: (
    0 0px 1px rgba(0, 0, 0, 0.02),
    0 1px 2px rgba(0, 0, 0, 0.03),
  ),
  xs: (
    0 1px 1px rgba(0, 0, 0, 0.03),
    0 2px 4px rgba(0, 0, 0, 0.05),
  ),
  sm: (
    0 1px 2px rgba(0, 0, 0, 0.04),
    0 3px 6px rgba(0, 0, 0, 0.07),
  ),
  md: (
    0 2px 3px rgba(0, 0, 0, 0.06),
    0 5px 10px rgba(0, 0, 0, 0.09),
  ),
  lg: (
    0 3px 5px rgba(0, 0, 0, 0.08),
    0 8px 14px rgba(0, 0, 0, 0.12),
  ),
  xl: (
    0 5px 8px rgba(0, 0, 0, 0.1),
    0 13px 20px rgba(0, 0, 0, 0.14),
  ),
  xxl: (
    0 8px 13px rgba(0, 0, 0, 0.12),
    0 21px 28px rgba(0, 0, 0, 0.16),
  ),
);
