$transition: (
  xxs: 150ms,
  xs: 200ms,
  sm: 250ms,
  md: 300ms,
  lg: 400ms,
  xl: 600ms,
  xxl: 800ms,
);

$easing: (
  linear: linear,
  ease: ease,
  ease-in: ease-in,
  ease-out: ease-out,
  ease-in-out: ease-in-out,
);
