// Transition tokens
$transition: (
  xxs: 100ms,
  xs: 150ms,
  sm: 200ms,
  md: 250ms,
  lg: 350ms,
  xl: 500ms,
  xxl: 700ms,
);

$easing: (
  linear: linear,
  ease: ease,
  ease-in: ease-in,
  ease-out: ease-out,
  ease-in-out: ease-in-out,
);
