// Typography tokens
$font-family: (
  base: (
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif,
  ),
  heading: (
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif,
  ),
  mono: (
    "Fira Code",
    "Courier New",
    monospace,
  ),
);

$font-size: (
  xxs: 0.625rem,
  // 10px
  xs: 0.75rem,
  // 12px
  sm: 0.875rem,
  // 14px
  md: 1rem,
  // 16px
  lg: 1.125rem,
  // 18px
  xl: 1.25rem,
  // 20px
  xxl: 1.5rem, // 24px
);

$font-weight: (
  xxs: 100,
  xs: 200,
  sm: 300,
  md: 400,
  lg: 500,
  xl: 600,
  xxl: 700,
);

$line-height: (
  xxs: 1,
  xs: 1.15,
  sm: 1.25,
  md: 1.5,
  lg: 1.75,
  xl: 2,
  xxl: 2.25,
);
