.cursor {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  touch-action: none;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.6))
    drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
}
