@use "@gilak/stylist/scss" as *;

.gilak-utils--get-breakpoints {
  @include media-xxs {
    --gilak-utils-breakpoint: xxs;
  }

  @include media-xs {
    --gilak-utils-breakpoint: xs;
  }

  @include media-sm {
    --gilak-utils-breakpoint: sm;
  }

  @include media-md {
    --gilak-utils-breakpoint: md;
  }

  @include media-lg {
    --gilak-utils-breakpoint: lg;
  }

  @include media-xl {
    --gilak-utils-breakpoint: xl;
  }

  @include media-xxl {
    --gilak-utils-breakpoint: xxl;
  }
}
