@use "@gilak/stylist/scss" as *;

.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  @include heightSizes;
  @include gapSizes;
  @include paddingSizes($left: true, $right: true);

  .track {
    position: relative;
    height: 20%;
    border-radius: var(--radius-full);
    box-shadow: var(--shadow-xs);
    cursor: pointer;
    @include interactiveVariants($reverse: true);

    .fill {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border-radius: var(--radius-full);
      @include interactiveVariants;
    }

    .thumb {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);

      .value {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        box-shadow: var(--shadow-md);
        transition: background-color var(--transition-sm);
        @include heightSizes($relation: -1);
        @include paddingSizes($left: true, $right: true, $relation: -1);
        @include interactiveVariants;
        @include fontSizes($relation: -2);
      }
    }
  }
}
