.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  font-size: var(--font-size-md);
  user-select: none;

  .track {
    position: relative;
    width: 6rem;
    height: 0.4rem;
    background-color: var(--color-light-xxs);
    border-radius: var(--radius-full);
    box-shadow: var(--shadow-xs);
    cursor: pointer;

    .fill {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: var(--color-primary-md);
      border-radius: var(--radius-full);
      transition: width var(--transition-sm);
    }

    .thumb {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      min-width: var(--icon-xs);
      height: var(--icon-xs);
      font-size: var(--font-size-xs);
      padding: var(--spacing-xs);
      color: var(--color-light-xl);
      background-color: var(--color-dark-md);
      border-radius: var(--radius-md);
      box-shadow: var(--shadow-md);
      transition: all var(--transition-sm);
      outline: none;

      &:focus,
      &:hover {
        color: var(--color-light-sm);
        background-color: var(--color-primary-md);
      }
    }
  }
}
