.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-sm);
  border-bottom: 1px solid var(--color-dark-xs);
  flex-wrap: wrap;

  .count {
    font-size: var(--font-size-xs);
    color: var(--color-light-xxl);
    text-transform: uppercase;
  }
}
