@use "@gilak/stylist/scss" as *;

.container {
  position: absolute;
  top: calc(50% + 1.5rem);
  left: 50%;
  padding: var(--spacing-xxs) var(--spacing-xs);
  font-size: var(--font-size-xs);
  transform: translate(-50%, -50%);
  background-color: var(--color-neutral-lightest);
  border-radius: var(--radius-xs);
  border: 1px solid var(--color-neutral-xxl);
}
