@use "@gilak/stylist/scss" as *;

.root {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  .label {
    padding: var(--spacing-xs) var(--spacing-sm);
    display: block;
    width: 100%;
  }
}
