@use "@gilak/stylist/scss" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm);
  gap: var(--spacing-sm);
  color: var(--color-light-xs);
  border-radius: var(--radius-md) var(--radius-md) 0 0;
  background-color: var(--color-primary-md);
  box-shadow: var(--shadow-lg);

  .heading {
    display: block;
    width: 100%;
    padding: 0 var(--spacing-xs);
    color: var(--color-light-md);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-lg);
    @include ellipsis;
  }

  &.compact {
    padding: var(--spacing-xs) var(--spacing-sm);

    .heading {
      font-size: var(--font-size-sm);
      font-weight: var(--font-weight-md);
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
