@use "@gilak/stylist/mixins" as mixins;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm);
  gap: var(--spacing-sm);
  border-radius: var(--radius-md) var(--radius-md) 0 0;
  background-color: var(--color-primary-md);
  box-shadow: var(--shadow-lg);

  .heading {
    display: block;
    width: 100%;
    color: var(--color-light-md);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-lg);
    padding: 0 var(--spacing-sm);
    @include mixins.ellipsis();
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sm);
  }
}
