@use "@gilak/stylist/mixins" as mixins;

.root {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-dark-sm);
  font-size: var(--font-size-sm);
  padding: var(--spacing-sm);
  gap: var(--spacing-sm);
  max-width: 100%;
}

.resize {
  display: flex;
  flex-direction: column-reverse;
  margin-left: auto;
  touch-action: none;

  .icon {
    cursor: nwse-resize;
  }
}
