@use "@gilak/stylist/scss" as *;

.container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--radius-full);
  touch-action: none;
  pointer-events: none;

  canvas {
    display: block;
    border-radius: var(--radius-full);
    border: 1rem solid var(--color-light-lg);
    box-shadow: var(--shadow-lg);
    touch-action: none;
    pointer-events: none;
  }
}
