.container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--radius-full);
  touch-action: none;
  pointer-events: none;

  canvas {
    display: block;
    border-radius: var(--radius-full);
    border: 1rem solid var(--color-light-lg);
    box-shadow: var(--shadow-lg);
    touch-action: none;
    pointer-events: none;
  }

  .text {
    position: absolute;
    top: calc(50% + 1.5rem);
    left: 50%;
    padding: var(--spacing-xxs) var(--spacing-xs);
    font-size: var(--font-size-xs);
    transform: translate(-50%, -50%);
    background-color: var(--color-light-xxs);
    border-radius: var(--radius-xs);
    border: 1px solid var(--color-light-xxl);
  }
}
