@use "../tokens/sizes" as *;

@function get-relative-tshirt-size($size, $relation, $sizes: $sizes) {
  $relation: round($relation);
  $index: index($sizes, $size);

  @if $index == null {
    @warn "get-relative-tshirt-size: `#{$size}` not found in list; returning first size.";
    @return nth($sizes, 1);
  }

  $new-index: $index + $relation;
  $len: length($sizes);

  @if $new-index < 1 {
    $new-index: 1;
  } @else if $new-index > $len {
    $new-index: $len;
  }

  @return nth($sizes, $new-index);
}
