@mixin fontSize() {
  &.xxxs {
    font-size: var(--font-size-xxxs);
  }

  &.xxs {
    font-size: var(--font-size-xxs);
  }

  &.xs {
    font-size: var(--font-size-xs);
  }

  &.sm {
    font-size: var(--font-size-sm);
  }

  &.md {
    font-size: var(--font-size-md);
  }

  &.lg {
    font-size: var(--font-size-lg);
  }

  &.xl {
    font-size: var(--font-size-xl);
  }

  &.xxl {
    font-size: var(--font-size-xxl);
  }

  &.xxxl {
    font-size: var(--font-size-xxxl);
  }
}
