@use "../tokens/sizes" as *;
@use "../functions/get-relative-tshirt-size" as *;

@mixin gapSizes($relation: 0) {
  @each $size in $sizes {
    $relative-size: get-relative-tshirt-size($size, $relation);
    &.#{$size} {
      gap: var(--spacing-#{$relative-size});
    }
  }
}
