@mixin heightSize() {
  &.xxxs {
    height: var(--icon-xxxs);
  }

  &.xxs {
    height: var(--icon-xxs);
  }

  &.xs {
    height: var(--icon-xs);
  }

  &.sm {
    height: var(--icon-sm);
  }

  &.md {
    height: var(--icon-md);
  }

  &.lg {
    height: var(--icon-lg);
  }

  &.xl {
    height: var(--icon-xl);
  }

  &.xxl {
    height: var(--icon-xxl);
  }

  &.xxxl {
    height: var(--icon-xxxl);
  }
}
