@mixin iconSizes() {
  &.xxxs {
    width: var(--icon-xxxs);
    height: var(--icon-xxxs);
  }

  &.xxs {
    width: var(--icon-xxs);
    height: var(--icon-xxs);
  }

  &.xs {
    width: var(--icon-xs);
    height: var(--icon-xs);
  }

  &.sm {
    width: var(--icon-sm);
    height: var(--icon-sm);
  }

  &.md {
    width: var(--icon-md);
    height: var(--icon-md);
  }

  &.lg {
    width: var(--icon-lg);
    height: var(--icon-lg);
  }

  &.xl {
    width: var(--icon-xl);
    height: var(--icon-xl);
  }

  &.xxl {
    width: var(--icon-xxl);
    height: var(--icon-xxl);
  }

  &.xxxl {
    width: var(--icon-xxxl);
    height: var(--icon-xxxl);
  }
}
