@use "./interactive" as *;
@use "./solid-variants" as *;

@mixin interactiveVariants($reverse: false) {
  @include solidVariants($reverse);

  &.primary {
    @include interactive(
      $hover-color: var(--color-light-xl),
      $hover-bg-color: var(--color-primary-xl),
      $reverse: $reverse
    );
  }

  &.secondary {
    @include interactive(
      $hover-color: var(--color-light-xl),
      $hover-bg-color: var(--color-secondary-xl),
      $reverse: $reverse
    );
  }

  &.light {
    @include interactive(
      $hover-color: var(--color-primary-xxl),
      $hover-bg-color: var(--color-light-xxs),
      $reverse: $reverse
    );
  }

  &.dark {
    @include interactive(
      $hover-color: var(--color-light-md),
      $hover-bg-color: var(--color-dark-md),
      $reverse: $reverse
    );
  }

  &.light-ghost {
    @include interactive(
      $hover-color: var(--color-light-xxs),
      $hover-bg-color: rgba(30, 30, 30, 0.2),
      $reverse: $reverse
    );
  }

  &.dark-ghost {
    @include interactive(
      $hover-color: var(--color-dark-xxl),
      $hover-bg-color: rgba(90, 90, 90, 0.1),
      $reverse: $reverse
    );
  }
}
