@use "./solid" as *;

@mixin interactive($hover-color, $hover-bg-color, $reverse: false) {
  transition:
    color var(--transition-xs),
    background-color var(--transition-xs);
  cursor: pointer;

  &:hover {
    @include solid($hover-color, $hover-bg-color, $reverse);
  }
}
