@use "sass:map";
@use "../tokens/breakpoints" as *;

// Media query mixins for responsive design
@mixin media-xxs {
  @media only screen and (min-width: #{map.get($breakpoints, 'xxs')}) {
    @content;
  }
}

@mixin media-xs {
  @media only screen and (min-width: #{map.get($breakpoints, 'xs')}) {
    @content;
  }
}

@mixin media-sm {
  @media only screen and (min-width: #{map.get($breakpoints, 'sm')}) {
    @content;
  }
}

@mixin media-md {
  @media only screen and (min-width: #{map.get($breakpoints, 'md')}) {
    @content;
  }
}

@mixin media-lg {
  @media only screen and (min-width: #{map.get($breakpoints, 'lg')}) {
    @content;
  }
}

@mixin media-xl {
  @media only screen and (min-width: #{map.get($breakpoints, 'xl')}) {
    @content;
  }
}

@mixin media-xxl {
  @media only screen and (min-width: #{map.get($breakpoints, 'xxl')}) {
    @content;
  }
}

// Custom media query with specific breakpoint
@mixin media($breakpoint) {
  @media only screen and (min-width: #{$breakpoint}) {
    @content;
  }
}
