@mixin solid($color, $bg-color, $reverse: false) {
  @if $reverse {
    color: $bg-color;
    background-color: $color;
  } @else {
    color: $color;
    background-color: $bg-color;
  }
  border-radius: var(--radius-md);
}
