.root {
  border: 4px solid var(--color-primary-md);
  border-radius: var(--radius-md);
  opacity: 0.6;
  overflow: hidden;

  img {
    display: block;
    max-width: 8rem;
    max-height: 8rem;
  }
}
