@use "@gilak/stylist/mixins" as mixins;

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-md);
  padding: var(--spacing-sm) var(--spacing-md);
  gap: var(--spacing-xs);

  &.draggable {
    cursor: move;
    cursor: grab;
    user-select: none;
  }

  &.dragging {
    cursor: grabbing;
  }

  &.minimized {
    max-width: 24%;
    background-color: var(--color-light-xxs);
    border-radius: var(--radius-md);
    cursor: default;
  }

  &.maximized {
    cursor: default;
  }

  .title {
    display: block;
    width: 100%;
    color: var(--color-dark-md);
    @include mixins.ellipsis();
  }

  .toolbar {
    grid-area: toolbar;
    display: flex;
    flex-direction: row;
    align-items: center;

    .button {
      cursor: pointer;

      &:hover {
        background-color: var(--color-light-sm);
      }
    }
  }
}
