@use "@gilak/stylist/mixins" as mixins;

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-md);
  padding: var(--spacing-sm);
  gap: var(--spacing-sm);
  background-color: var(--color-primary-md);
  box-shadow: var(--shadow-lg);

  &.draggable {
    cursor: move;
    cursor: grab;
    user-select: none;
  }

  &.dragging {
    cursor: grabbing;
  }

  &.minimized {
    width: 15rem;
    border-radius: var(--radius-md);
    cursor: default;
  }

  &.maximized {
    cursor: default;
  }

  .title {
    display: block;
    width: 100%;
    color: var(--color-light-md);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-lg);
    padding: 0 var(--spacing-sm);
    @include mixins.ellipsis();
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sm);
  }
}
