.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-sm);
  border-bottom: 1px solid var(--color-dark-xs);
  flex-wrap: wrap;

  .count {
    font-size: var(--font-size-xs);
    color: var(--color-light-xxl);
    padding: 0 var(--spacing-md);
    text-transform: uppercase;
  }

  .toggle {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-xs);
    padding: var(--spacing-xs);
    border-radius: var(--radius-md);
    background-color: var(--color-dark-xxs);
  }
}
