.label {
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "label"
    "input";

  .text {
    grid-area: label;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-md);
    color: var(--color-dark-lg);
    margin: 0 0 var(--spacing-xs) 0;
    cursor: pointer;
  }

  .input {
    grid-area: input;
    color: inherit;
    font-size: var(--font-size-md);
    width: 100%;
    line-height: var(--icon-md);
    padding: 0 calc(var(--spacing-md));
    background-color: var(--color-light-xxs);
    box-shadow: var(--shadow-sm);
    border: none;
    outline: none;

    &::placeholder {
      color: var(--color-light-xxxl);
    }

    &:disabled {
      background-color: var(--color-light-md);
      cursor: not-allowed;
      opacity: 0.6;
    }

    &:read-only {
      background-color: var(--color-light-md);
      cursor: default;
    }
  }

  &.rounded {
    .input {
      border-radius: var(--radius-md);
    }
  }

  &.fullWidth {
    width: 100%;
  }

  &.error {
    border-color: var(--color-error-md);
  }
}
