@use "@gilak/stylist/scss" as *;

.root {
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "label"
    "input";

  .label {
    grid-area: label;
    cursor: pointer;

    &.rounded {
      border-radius: var(--radius-md);
    }
  }

  .input {
    grid-area: input;
    width: 100%;
    box-shadow: var(--shadow-sm);
    border: none;
    outline: none;
    @include solidVariants;
    @include fontSizes($relation: -1);
    @include heightSizes;
    @include paddingSizes($left: true, $right: true);

    &::placeholder {
      color: var(--color-light-xxxl);
    }

    &:read-only {
      cursor: default;
    }

    &:disabled {
      background-color: var(--color-light-md);
      cursor: not-allowed;
      opacity: 0.6;
    }

    &.invisible {
      display: none;
    }

    &.rounded {
      border-radius: var(--radius-md);
    }
  }

  &.rounded {
    .input {
      border-radius: var(--radius-md);
    }
  }

  &.frameless {
    .input {
      box-shadow: none;
      outline: none;
    }
  }

  &.fullWidth {
    width: 100%;
  }

  &.error {
    border-color: var(--color-error-md);
  }
}
