@use "@gilak/stylist/scss" as *;

.label {
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "label"
    "input";

  .text {
    grid-area: label;
    font-weight: var(--font-weight-md);
    color: var(--color-dark-lg);
    cursor: pointer;
    @include fontSizes($relation: -2);
    @include marginSizes($bottom: true, $relation: -2);
  }

  .input {
    grid-area: input;
    width: 100%;
    box-shadow: var(--shadow-sm);
    border: none;
    outline: none;
    @include interactiveVariants;
    @include fontSizes;
    @include heightSizes;
    @include paddingSizes($left: true, $right: true);

    &::placeholder {
      color: var(--color-light-xxxl);
    }

    &:disabled {
      background-color: var(--color-light-md);
      cursor: not-allowed;
      opacity: 0.6;
    }

    &:read-only {
      cursor: default;
    }
  }

  &.rounded {
    .input {
      border-radius: var(--radius-md);
    }
  }

  &.frameless {
    .input {
      box-shadow: none;
      background-color: transparent;
      outline: none;
    }
  }

  &.fullWidth {
    width: 100%;
  }

  &.error {
    border-color: var(--color-error-md);
  }
}
