@use "@gilak/stylist/scss" as *;

.label {
  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "label"
    "input";

  .text {
    grid-area: label;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-md);
    color: var(--color-dark-lg);
    margin: 0 0 var(--spacing-xs) 0;
    cursor: pointer;
  }

  .input {
    grid-area: input;
    color: inherit;
    font-size: var(--font-size-md);
    width: 100%;
    line-height: var(--icon-md);
    padding: 0 calc(var(--spacing-md));
    background-color: var(--color-light-xxs);
    box-shadow: var(--shadow-sm);
    border: none;
    outline: none;

    &::placeholder {
      color: var(--color-light-xxxl);
    }

    &:disabled {
      background-color: var(--color-light-md);
      cursor: not-allowed;
      opacity: 0.6;
    }

    &:read-only {
      cursor: default;
    }
  }

  &.rounded {
    .input {
      border-radius: var(--radius-md);
    }
  }

  &.frameless {
    .input {
      box-shadow: none;
      background-color: transparent;
      outline: none;
    }
  }

  &.fullWidth {
    width: 100%;
  }

  &.error {
    border-color: var(--color-error-md);
  }

  &.primary {
    input {
      @include interactive(
        $color: var(--color-light-md),
        $bg-color: var(--color-primary-md),
        $hover-color: var(--color-light-xl),
        $hover-bg-color: var(--color-primary-xl)
      );
    }
  }

  &.secondary {
    @include interactive(
      $color: var(--color-light-md),
      $bg-color: var(--color-secondary-md),
      $hover-color: var(--color-light-xl),
      $hover-bg-color: var(--color-secondary-xl)
    );
  }

  &.light {
    @include interactive(
      $color: var(--color-dark-md),
      $bg-color: var(--color-light-xs),
      $hover-color: var(--color-primary-xl),
      $hover-bg-color: var(--color-light-xl)
    );
  }

  &.dark {
    @include interactive(
      $color: var(--color-light-md),
      $bg-color: var(--color-dark-xl),
      $hover-color: var(--color-light-md),
      $hover-bg-color: var(--color-primary-md)
    );
  }

  &.ghost {
    @include interactive(
      $color: inherit,
      $bg-color: transparent,
      $hover-color: inherit,
      $hover-bg-color: transparent
    );
  }
}
