.header {
  all: unset;
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: var(--color-dark-xxl);
  height: var(--icon-sm);
  border-radius: var(--radius-md);
  background-color: var(--color-light-md);
  transition: all var(--transition-sm);
  cursor: pointer;

  &:hover {
    color: var(--color-primary-md);
    background-color: var(--color-light-xl);
  }

  &.active,
  &.active:focus {
    color: var(--color-light-lg);
    box-shadow: var(--shadow-xs);
    background-color: var(--color-primary-md);
  }
}
