.overlay {
  position: fixed;
  inset: 0;
  background: rgba(20, 20, 20, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-lg);
  z-index: var(--z-index-modal);
  cursor: pointer;

  .dialog {
    all: unset;
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 400px;
    max-height: 90dvh;
    box-shadow: var(--shadow-md);
    cursor: default;
  }
}
