.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: var(--spacing-xs);

  .screen {
    flex: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    display: flex;
    flex-direction: row;

    .zoomTrigger {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 var(--spacing-xs);
      border-radius: var(--radius-md);
      background-color: var(--color-light-lg);
    }
  }
}
