@use "@gilak/stylist/mixins" as mixins;

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: var(--spacing-sm);

  .screen {
    flex: 1;
    overflow: auto;
    @include mixins.scrollbar;

    .content {
      border: 1px solid var(--color-light-lg);
      box-shadow: var(--shadow-md);
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    .zoomTrigger {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 var(--spacing-xs);
      border-radius: var(--radius-md);
      background-color: var(--color-light-lg);
    }
  }
}
