@use "@gilak/stylist/scss" as *;

.list {
  display: grid;
  gap: var(--spacing-sm);

  .item {
    display: grid;
  }

  &.primary {
    background-color: var(--color-primary-md);

    .item {
      @include interactive(
        $color: var(--color-light-md),
        $bg-color: var(--color-primary-md),
        $hover-color: var(--color-light-xl),
        $hover-bg-color: var(--color-primary-xl)
      );
    }
  }

  &.light {
    padding: var(--spacing-sm);
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-sm);
    background-color: var(--color-light-md);

    .item {
      @include interactive(
        $color: var(--color-dark-md),
        $bg-color: var(--color-light-md),
        $hover-color: var(--color-light-md),
        $hover-bg-color: var(--color-primary-md)
      );
    }
  }

  &.column {
    grid-auto-flow: row;
    grid-auto-rows: max-content;

    &.two {
      grid-template-columns: repeat(2, 1fr);
    }

    &.three {
      grid-template-columns: repeat(3, 1fr);
    }

    &.four {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &.row {
    grid-auto-flow: column;
    grid-auto-columns: max-content;

    &.two {
      grid-template-rows: repeat(2, 1fr);
    }

    &.three {
      grid-template-rows: repeat(3, 1fr);
    }

    &.four {
      grid-template-rows: repeat(4, 1fr);
    }
  }
}
