@use "@gilak/stylist/scss" as *;

.list {
  display: grid;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-sm);

  .item {
    display: grid;
  }

  &.primary {
    background-color: var(--color-primary-md);

    .item {
      @include interactive(
        $color: var(--color-light-md),
        $bg-color: var(--color-primary-md),
        $hover-color: var(--color-light-xl),
        $hover-bg-color: var(--color-primary-xl)
      );
    }
  }

  &.light {
    background-color: var(--color-light-md);

    .item {
      @include interactive(
        $color: var(--color-dark-md),
        $bg-color: var(--color-light-md),
        $hover-color: var(--color-light-md),
        $hover-bg-color: var(--color-primary-md)
      );
    }
  }

  &.frameless {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }

  &.column {
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    justify-content: space-between;

    &.count_2 {
      grid-template-columns: repeat(2, max-content);
    }

    &.count_3 {
      grid-template-columns: repeat(3, max-content);
    }

    &.count_4 {
      grid-template-columns: repeat(4, max-content);
    }
  }

  &.row {
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: space-between;

    &.count_2 {
      grid-template-rows: repeat(2, max-content);
    }

    &.count_3 {
      grid-template-rows: repeat(3, max-content);
    }

    &.count_4 {
      grid-template-rows: repeat(4, max-content);
    }
  }
}
