@use "@gilak/stylist/scss" as *;

.list {
  display: grid;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);

  &.frameless {
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  &.column {
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    justify-content: space-between;
  }

  &.row {
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: space-between;
  }

  .item {
    display: grid;
  }

  &.ghost {
    background-color: transparent;

    .item {
      @include interactive(
        $color: inherit,
        $bg-color: transparent,
        $hover-color: var(--color-light-xl),
        $hover-bg-color: var(--color-primary-xl)
      );
    }
  }

  &.primary {
    background-color: var(--color-primary-md);

    .item {
      @include interactive(
        $color: var(--color-light-md),
        $bg-color: var(--color-primary-md),
        $hover-color: var(--color-light-xl),
        $hover-bg-color: var(--color-primary-xl)
      );
    }
  }

  &.secondary {
    background-color: var(--color-secondary-md);

    .item {
      @include interactive(
        $color: var(--color-light-md),
        $bg-color: var(--color-secondary-md),
        $hover-color: var(--color-light-xl),
        $hover-bg-color: var(--color-secondary-xl)
      );
    }
  }

  &.light {
    background-color: var(--color-light-xs);

    .item {
      @include interactive(
        $color: var(--color-dark-md),
        $bg-color: var(--color-light-xs),
        $hover-color: var(--color-primary-xl),
        $hover-bg-color: var(--color-light-xl)
      );
    }
  }

  &.dark {
    background-color: var(--color-dark-xl);

    .item {
      @include interactive(
        $color: var(--color-light-md),
        $bg-color: var(--color-dark-xl),
        $hover-color: var(--color-light-md),
        $hover-bg-color: var(--color-primary-md)
      );
    }
  }
}
