@use "@gilak/stylist/scss" as *;

.list {
  display: grid;
  width: max-content;
  max-width: 100%;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
  @include solidVariants;
  @include paddingSizes($top: true, $bottom: true, $relation: -1);
  @include paddingSizes($left: true, $right: true, $relation: -1);
  @include gapSizes($relation: -2);

  &.frameless {
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  &.column {
    grid-auto-flow: row;
    grid-template-columns: repeat(var(--list-count), minmax(0, 1fr));
  }

  &.row {
    grid-auto-flow: column;
    grid-template-rows: repeat(var(--list-count), minmax(0, 1fr));
  }

  .item {
    display: grid;
    min-width: 0;
    min-height: 0;

    &.interactive {
      @include interactiveVariants;
    }
  }
}
