@use "@gilak/stylist/scss" as *;

.list {
  display: grid;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
  @include solidVariants;

  &.frameless {
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }

  &.column {
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    justify-content: space-between;
  }

  &.row {
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: space-between;
  }

  .item {
    display: grid;
    @include solidVariants;

    &.interactive {
      @include interactiveVariants;
    }
  }
}
