.root {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-md);
  background-color: var(--color-light-md);
  overflow: hidden;

  .headers {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    padding: var(--spacing-sm);
    background-color: var(--color-light-xl);
  }

  .bodies {
    flex-grow: 1;
    padding: var(--spacing-sm);
  }
}
