@charset "utf-8";
@use "@gilak/stylist/scss" as *;

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  font-size: 14px;
  color: var(--color-neutral-lg);

  @include media-md {
    font-size: 15px;
  }

  @include media-lg {
    font-size: 16px;
  }

  @include media-xl {
    font-size: 18px;
  }

  @include media-xxl {
    font-size: 20px;
  }
}

body * {
  font-size: var(--font-size-md);
  line-height: var(--line-height-sm);
}

html *,
html *::after,
html *::before {
  box-sizing: border-box;
  user-select: none;
}
