.root {
  position: relative;
  display: grid;

  .trigger {
    width: 100%;
    display: inline-flex;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    z-index: 9999;
  }

  &.top {
    .menu {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: var(--spacing-xs);
    }
  }

  &.top-right {
    .menu {
      bottom: 100%;
      left: 0;
      margin-bottom: var(--spacing-xs);
    }
  }

  &.right {
    .menu {
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      margin-left: var(--spacing-xs);
    }
  }

  &.bottom-right {
    .menu {
      top: 100%;
      left: 0;
      margin-top: var(--spacing-xs);
    }
  }

  &.bottom {
    .menu {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: var(--spacing-xs);
    }
  }

  &.bottom-left {
    .menu {
      top: 100%;
      right: 0;
      margin-top: var(--spacing-xs);
    }
  }

  &.left {
    .menu {
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
      margin-right: var(--spacing-xs);
    }
  }

  &.top-left {
    .menu {
      bottom: 100%;
      right: 0;
      margin-bottom: var(--spacing-xs);
    }
  }
}
