.trigger {
  display: inline-flex;
  position: relative;
  cursor: pointer;

  .menu {
    position: absolute;
    z-index: 9999;

    &.top {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: var(--spacing-xs);
    }

    &.top-right {
      bottom: 100%;
      left: 0;
      margin-bottom: var(--spacing-xs);
    }

    &.right {
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      margin-left: var(--spacing-xs);
    }

    &.bottom-right {
      top: 100%;
      left: 0;
      margin-top: var(--spacing-xs);
    }

    &.bottom {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: var(--spacing-xs);
    }

    &.bottom-left {
      top: 100%;
      right: 0;
      margin-top: var(--spacing-xs);
    }

    &.left {
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
      margin-right: var(--spacing-xs);
    }

    &.top-left {
      bottom: 100%;
      right: 0;
      margin-bottom: var(--spacing-xs);
    }
  }
}
