.root {
  display: flex;
  align-items: center;
  gap: 0;
  background-color: #ededed;
  overflow: hidden;
  flex: 1;

  label {
    flex-shrink: 0;
    height: 100%;
    width: 3rem;
    border-right: 1px solid #dfdfdf;
  }

  input {
    flex: 1;
    font-size: 1rem;
    color: #333333;
    padding: 0 1rem;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;

    &::placeholder {
      color: #999;
    }

    &:focus {
      outline: none;
    }

    &[readonly] {
      cursor: default;
    }
  }
}
