.root {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-xs);

  .tab {
    flex-grow: 1;
    flex-direction: column;
    gap: var(--spacing-sm);
  }
}
