.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
  border-radius: var(--radius-md);
  background-color: var(--color-dark-lg);

  .info {
    color: var(--color-light-sm);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-md);
    padding: 0 var(--spacing-xs);
  }

  .actions {
    display: flex;
    gap: var(--spacing-xs);
  }
}
