@use "@gilak/stylist/scss" as *;

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-sm);
  border-radius: var(--radius-sm);
  background-color: var(--color-light-xl);

  select {
    all: unset;
    color: var(--color-dark-lg);

    option {
      color: var(--color-dark-lg);
    }
  }
}
