@use "@gilak/stylist/scss" as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm);
  gap: var(--spacing-sm);
  border-radius: 0 0 var(--radius-md) var(--radius-md);
  background-color: var(--color-light-xxl);
  box-shadow: var(--shadow-lg);

  .caption {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: var(--color-dark-lg);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-md);
    padding: 0 var(--spacing-sm);
    @include ellipsis;
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sm);
  }
}
