@use "@gilak/stylist/scss" as *;

.root {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-md);
    padding: var(--spacing-sm);
    border-bottom: 1px solid var(--color-dark-xs);
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    padding: var(--spacing-sm);
    overflow: auto;
    @include scrollbar();
  }
}

.empty {
  font-size: var(--font-size-sm);
  color: var(--color-light-md);
  padding: var(--spacing-sm);
}
