.root {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  position: relative;
  font-size: var(--font-size-sm);
  padding: var(--spacing-xs) var(--spacing-sm);
  box-shadow: var(--shadow-sm);

  &.frameless {
    background-color: transparent;
    box-shadow: none;
  }

  &.selected {
    outline: 2px solid var(--color-primary-lg);
    outline-offset: 2px;
  }
}
