@use "@gilak/stylist/mixins" as mixins;

.screen {
  width: 100%;
  height: 100%;
  overflow: auto;
  @include mixins.scrollbar;

  .content {
    border: 1px solid var(--color-light-lg);
    box-shadow: var(--shadow-md);
  }
}
