@use "@gilak/stylist/scss" as *;

.screen {
  width: 100%;
  height: 100%;
  overflow: auto;
  @include scrollbar;

  .content {
    border: 1px solid var(--color-light-lg);
    box-shadow: var(--shadow-md);
  }
}
