@use "@gilak/stylist/scss" as *;

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  font-weight: var(--font-weight-lg);
  @include solidVariants;
  @include heightSizes($relation: 1);
  @include fontSizes;
  @include paddingSizes($left: true, $right: true, $relation: -1);

  &.frameless {
    box-shadow: none;
  }
}
