.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: #ededed;

  header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    background-color: #fefefe;

    nav {
      ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        li {
          button {
            display: block;
            padding: 0;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background-color: #ededed;
            border: none;
            cursor: pointer;

            svg {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
  }
}
