.root {
  display: grid;
  grid-template-areas:
    "navigation"
    "header"
    "main";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  width: 100%;
  height: 100%;

  .nav {
    grid-area: navigation;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color-light-xs);
    padding: var(--spacing-xs);
    background-color: var(--color-primary-xxl);
  }

  .header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-light-xxl);
  }

  .main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: var(--color-dark-xxl);

    .imageLibrary {
      width: 20rem;
    }

    .windows {
      position: relative;
      flex-grow: 1;
    }
  }
}
