.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  width: 100%;
  height: 100%;
  background-color: var(--color-neutral-xxs);

  header {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    background-color: var(--color-neutral-lightest);

    nav {
      ul {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-md);

        li {
          button {
            display: block;
            padding: 0;
            margin: 0;
            width: var(--icon-xl);
            height: var(--icon-xl);
            background-color: var(--color-neutral-xxs);
            border: none;
            cursor: pointer;

            svg {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-lightest);
  }
}
