@use "@gilak/stylist/mixins" as mixins;

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-xxxs);

  .header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-light-xxl);

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: var(--spacing-sm);
      background-color: var(--color-primary-md);
    }

    .tools {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-sm);
      padding: var(--spacing-sm);

      & > li {
        display: grid;
      }
    }
  }

  .main {
    flex: 1;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--spacing-sm);
    overflow: hidden;
  }

  .ellipsis {
    display: block;
    width: 100%;
    @include mixins.ellipsis();
  }
}
