.root {
  display: grid;
  grid-template-areas:
    "navigation"
    "header"
    "main";
  grid-template-rows: auto auto 1fr;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-xxxs);

  .nav {
    grid-area: navigation;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--spacing-sm);
    background-color: var(--color-primary-md);
  }

  .header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-light-xxl);
  }

  .main {
    grid-area: main;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--spacing-sm);
    overflow: hidden;
  }
}
