.root {
  display: grid;
  grid-template-areas:
    "navigation navigation"
    "header header"
    "aside main";
  grid-template-columns: 20rem 1fr;
  grid-template-rows: auto auto 1fr;
  width: 100%;
  height: 100%;

  .nav {
    grid-area: navigation;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color-light-xs);
    padding: var(--spacing-xs);
    background-color: var(--color-primary-xxl);
  }

  .header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-light-xxl);
  }

  .aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--color-dark-lg);
    background-color: var(--color-dark-lg);

    .panel {
      flex: 1 0 0;
      min-height: 0;

      &:not(:last-child) {
        border-bottom: 1px solid var(--color-dark-xxl);
      }
    }
  }

  .main {
    grid-area: main;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: var(--color-dark-xxl);
  }
}
