@use "@gilak/stylist/scss" as *;

.background {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  padding: 0;
  border: none;
  outline: none;
  border: 2px solid transparent;
  box-shadow: var(--shadow-sm);
  @include solidVariants;
  @include widthSizes;
  @include heightSizes;

  &.rounded {
    border-radius: var(--radius-md);
  }

  &.frameless {
    box-shadow: none;
  }

  &.selected {
    border-color: var(--color-primary-lg);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .icon {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    mask-size: 70%;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: var(--props-url);
    overflow: hidden;
    @include solidVariants($reverse: true);
  }

  &.interactive {
    @include interactiveVariants;

    .icon {
      @include interactiveVariants($reverse: true);
    }
  }
}
