@use "@gilak/stylist/scss" as *;

.background {
  flex-shrink: 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-md);
  height: var(--icon-md);
  box-shadow: var(--shadow-sm);
  @include solidVariants;

  &.rounded {
    border-radius: var(--radius-md);
  }

  &.frameless {
    box-shadow: none;
    background-color: transparent;
  }

  &.selected {
    outline: 2px solid var(--color-primary-lg);
    outline-offset: 0px;
  }

  .icon {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    mask-size: 70%;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: var(--props-url);
    overflow: hidden;
    @include solidVariants($reverse: true);
  }

  &.interactive {
    @include interactiveVariants;

    .icon {
      @include interactiveVariants($reverse: true);
    }
  }
}
