.root {
  flex-shrink: 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--icon-md);
  height: var(--icon-md);
  background-color: var(--icon-bg-color);
  box-shadow: var(--shadow-sm);

  &.rounded {
    border-radius: var(--radius-md);
  }

  &.frameless {
    box-shadow: none;
    background-color: transparent;
  }

  &.interactive {
    cursor: pointer;

    &:hover {
      .image {
        &::before {
          background-color: var(--color-primary-md);
          transition: all var(--transition-lg);
        }
      }
    }
  }

  &.selected {
    outline: 2px solid var(--color-primary-lg);
    outline-offset: 1px;
  }

  .image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    mask-size: 70%;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: var(--icon-url);
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--icon-color, transparent);
      z-index: -2;
    }
  }
}
