@use "@gilak/stylist/scss" as *;

.button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  padding: 0 var(--spacing-md);
  font-size: var(--font-size-md);
  height: var(--icon-md);
  box-shadow: var(--shadow-sm);
  transition: background-color var(--transition-md);
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    background-color: var(--color-light-md);
    cursor: not-allowed;
  }

  &.fullWidth {
    width: 100%;
  }

  &.rounded {
    border-radius: var(--radius-md);
  }

  &.primary {
    @include interactive(
      $color: var(--color-light-md),
      $bg-color: var(--color-primary-md),
      $hover-color: var(--color-light-xl),
      $hover-bg-color: var(--color-primary-xl)
    );
  }

  &.secondary {
    @include interactive(
      $color: var(--color-light-md),
      $bg-color: var(--color-secondary-md),
      $hover-color: var(--color-light-xl),
      $hover-bg-color: var(--color-secondary-xl)
    );
  }

  &.light {
    @include interactive(
      $color: var(--color-dark-md),
      $bg-color: var(--color-light-xs),
      $hover-color: var(--color-primary-xl),
      $hover-bg-color: var(--color-light-xl)
    );
  }

  &.dark {
    @include interactive(
      $color: var(--color-light-md),
      $bg-color: var(--color-dark-xl),
      $hover-color: var(--color-light-md),
      $hover-bg-color: var(--color-primary-md)
    );
  }

  &.ghost {
    @include interactive(
      $color: inherit,
      $bg-color: transparent,
      $hover-color: inherit,
      $hover-bg-color: transparent
    );
  }
}
