@use "@gilak/stylist/scss" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  padding: 0 var(--spacing-md);
  font-size: var(--font-size-md);
  height: var(--icon-md);
  border: none;
  outline: none;
  box-shadow: var(--shadow-sm);
  transition: background-color var(--transition-md);
  cursor: pointer;
  @include interactiveVariants;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.fullWidth {
    width: 100%;
  }

  &.rounded {
    border-radius: var(--radius-md);
  }
}
