@use "@gilak/stylist/scss" as *;

.root {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
  padding: 0 var(--spacing-md);
  font-size: var(--font-size-md);
  height: var(--icon-md);
  color: var(--color-light-xxxl);
  background-color: var(--color-primary-md);
  box-shadow: var(--shadow-sm);
  transition: background-color var(--transition-md);
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    background-color: var(--color-light-md);
    cursor: not-allowed;
  }

  &.fullWidth {
    width: 100%;
  }

  &.rounded {
    border-radius: var(--radius-md);
  }

  &.primary {
    color: var(--color-light-xxxs);
    background-color: var(--color-primary-md);

    &:hover:not(:disabled) {
      background-color: var(--color-primary-xl);
    }
  }

  &.secondary {
    color: var(--color-dark-xxxl);
    background-color: var(--color-light-sm);

    &:hover:not(:disabled) {
      background-color: var(--color-light-md);
    }
  }

  &.ghost {
    color: var(--color-dark-xxxl);
    background-color: transparent;
    box-shadow: none;

    &:hover:not(:disabled) {
      background-color: var(--color-light-xxs);
    }
  }
}
