@use "@gilak/stylist/scss" as *;

.button {
  display: inline-flex;
  align-items: center;
  border: none;
  outline: none;
  box-shadow: var(--shadow-sm);
  transition: background-color var(--transition-md);
  cursor: pointer;
  @include interactiveVariants;
  @include heightSizes;
  @include fontSizes($relation: -1);
  @include gapSizes;
  @include paddingSizes($left: true, $right: true);
  @include alignments;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.fullWidth {
    width: 100%;
  }

  &.frameless {
    box-shadow: none;
    background-color: transparent;
  }

  &.rounded {
    border-radius: var(--radius-md);
  }
}
