@use "@gilak/stylist/scss" as *;

.root {
  flex-shrink: 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  box-shadow: var(--shadow-sm);
  text-decoration: none;
  cursor: pointer;
  @include solidVariants;
  @include fontSizes;
  @include paddingSizes($top: true, $bottom: true, $relation: -1);
  @include paddingSizes($left: true, $right: true);

  &.rounded {
    border-radius: var(--radius-md);
  }

  &.frameless {
    box-shadow: none;
    background-color: transparent;
  }

  &.selected {
    outline: 2px solid var(--color-primary-lg);
    outline-offset: 0px;
  }

  &.interactive {
    @include interactiveVariants;
  }
}
