@use "@gilak/stylist/scss" as *;

.root {
  flex-shrink: 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: var(--shadow-sm);
  cursor: pointer;
  @include interactiveVariants;
  @include heightSizes;
  @include fontSizes($relation: -1);
  @include gapSizes;
  @include alignments;

  &.padded {
    @include paddingSizes($left: true, $right: true);
  }

  &.rounded {
    border-radius: var(--radius-md);
  }

  &.fullWidth {
    width: 100%;
  }

  &.frameless {
    box-shadow: none;
    background-color: transparent;
  }

  &.selected {
    border-color: var(--color-primary-lg);
  }

  &.interactive {
    @include interactiveVariants;
  }
}
