.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: var(--color-dark-xxl);
  border-right: 1px solid var(--color-dark-lg);
  background-color: var(--color-dark-lg);
}
