@use "@gilak/stylist/scss" as *;

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .list {
    width: 100%;
    height: 100%;
    overflow: auto;
    @include scrollbar();
  }
}
