@use "@gilak/stylist/scss" as *;

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .elements {
    width: 100%;
    height: 100%;
    overflow: auto;
    @include scrollbar();

    .list {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs);
      padding: var(--spacing-sm);
    }

    .empty {
      font-size: var(--font-size-sm);
      color: var(--color-light-md);
      padding: var(--spacing-sm);
    }
  }
}
